extends ../layout/templateBootstrap.pug

block signup
    h2.d-flex.justify-content-center Sign up
    if errorSignUp 
        each errorAlert in errorSignUp
            .alert.alert-danger=errorAlert
    form(action="/signup", method="POST" enctype="multipart/form-data") 
        .form-group
            .mb-2
                label(for="focusName") Name  
                input#focusName(type="text", name="name", class="form-control", placeholder="Name", aria-label="Name", aria-describedby="basic-addon1", value=values ? values.name : '')

            .mb-2
                label(for="focusEmail") Email  
                input#focusEmail(type="email", name="email", class="form-control", placeholder="Email", aria-label="Email", aria-describedby="basic-addon1", value=values ? values.email : '')
        
        .form-group   
            .mb-3
                label(for="focusAge") Age     
                .input-group.mb-2
                    input(type="number", name="age" class="form-control", placeholder="Age", aria-label="Age") 
                    span(class="input-group-text") @    
                    input(type="text", name="phone" class="form-control" placeholder="Phone Number" aria-label="Phone Number", aria-describedby="basic-addon1")
                label(for="focusPassword") Password
                input#focusPassword(type="password", name="password", class="form-control", placeholder="Password", aria-label="Password", aria-describedby="basic-addon1")

        .form-group
            label(for="avatar") Avatar
            br
            input#avatar(type="file" name="avatar" aria-label="Avatar" class="form-control-file" aria-describedby="basic-addon1")

        .d-flex.justify-content-center
            button(type="submit", class="btn btn-outline-info") Sign Up
