extends ../layout/templateBootstrap.pug

block product 
    .container-md 
        .d-flex
            h2 Product
            .px-2
            form(action="product/search", method="GET")
                .d-flex.flex-row.justify-content-around    
                    input(class="form-control form-control-sm me-2", name="product_name" type="search", placeholder="Search", aria-label="Search")
                    button(class="btn btn-outline-success", type="submit") Search
        .row
            each val, key in products
                .col-lg-3.pt-5
                    .card(style='width: 18rem;')
                        img.card-img-top(src=val.image, alt='Hình ảnh')
                        .card-body
                            h5.card-title=val.product_name
                            p.card-text=val.description
                            a.btn.btn-primary(href='/card/add/' + val.id) Add to cart